@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500") format("svg"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: "MuseoSansCyrl-500";
  font-size: 12px;
  position: relative; }

.page1 {
  background: url("../img/bg.png") left top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh; }
  @media (width: 320px) {
    .page1 {
      background: url("../img/bg-mob.png") center top no-repeat;
      -webkit-background-size: cover;
              background-size: cover; } }

.page2 {
  background: grey;
  height: 100vh; }

@media (min-width: 768px) {
  .section {
    display: none; }
  .active {
    display: block; } }

.content {
  max-width: 1138px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

a {
  text-decoration: none;
  color: #FFFFFF; }

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1138px;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__logo {
    z-index: 4; }
  .header__menu {
    padding-top: 28px;
    width: 750px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2; }
  .header__menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: normal; }

@media (min-width: 320px) and (max-width: 768px) {
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
  .header__menu-item {
    width: 96px;
    margin-left: 17px;
    margin-right: 17px; }

@media (min-width: 320px) and (max-width: 768px) {
  .header__menu-item {
    width: auto; } }
  .header__button {
    padding-top: 28px;
    text-transform: uppercase;
    z-index: 2; }

@media (min-width: 320px) and (max-width: 768px) {
  .header__button {
    position: absolute;
    bottom: 5%;
    width: 90%;
    text-align: center;
    left: 5%; } }
  .header__button_link {
    padding: 15px 31px;
    background-color: #F8A815;
    display: block; }

.slider {
  width: 720px;
  margin: 0 auto;
  font-family: "MuseoSansCyrl";
  position: absolute;
  right: 0;
  top: 209px;
  z-index: 1; }
  @media screen and (max-width: 480px) {
    .slider {
      width: auto;
      left: 0; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .slider {
      top: 555px; } }
  .slider__title {
    font-size: 122px;
    text-transform: uppercase;
    color: #FFFFFF; }
    @media (width: 768px) {
      .slider__title {
        position: absolute;
        top: 65px;
        font-size: 72px; } }
    @media screen and (max-width: 480px) {
      .slider__title {
        position: absolute;
        top: 74px;
        font-size: 48px;
        left: 12px; } }
  .slider__title_color {
    font-size: 122px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    position: absolute;
    top: 120px; }
    @media screen and (max-width: 480px) {
      .slider__title_color {
        top: 124px;
        width: 100vw;
        font-size: 48px;
        left: 12px; } }
    @media (width: 768px) {
      .slider__title_color {
        font-size: 72px;
        top: 124px; } }
  .slider__text {
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: white;
    max-width: 508px;
    position: absolute;
    bottom: -230px;
    left: 8px;
    font-family: "MuseoSansCyrl-500"; }
    @media screen and (max-width: 480px) {
      .slider__text {
        width: 95vw;
        font-size: 12px;
        bottom: -288px;
        line-height: 17px;
        left: 12px; } }
    @media (width: 768px) {
      .slider__text {
        bottom: -300px; } }

@media (max-width: 768px) {
  .header .menu, .header .menu:before, .header .menu:after {
    background: white;
    width: 24px;
    height: 1px; }
  .header .button {
    display: block;
    position: absolute;
    top: -83px;
    right: 44px; }
  .header .menu {
    position: absolute;
    top: 24px; }
    .header .menu:before {
      content: '';
      position: absolute;
      top: -8px; }
    .header .menu:after {
      content: '';
      position: absolute;
      top: 8px;
      left: 0; }
    .header .menu b {
      top: -13px;
      left: 2px;
      font-size: .55em;
      line-height: 1em;
      position: relative; }
  .header .sub-menu {
    font-weight: 300;
    font-size: 1.5em;
    list-style-type: none;
    padding: 10px 20px;
    background: #080F1B;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none; }
    .header .sub-menu li {
      line-height: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .header .sub-menu li:last-child {
      border-bottom: none; }
  .header .menu-active .sub-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
