@import "settings";

*, ::before, ::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {

  height: 100%;
  font: {
    family: $MuseoSansCyrl;
    size: $font-size;
  }
  position: relative;

}

//styles scroll page started
.page1 {
  background: url("../img/bg.png") left top no-repeat;
  background-size: cover;
  height: 100vh;
  @media (width: 320px) {
    background: url("../img/bg-mob.png") center top no-repeat;
    background-size: cover;
  }
}
.page2 {
  background: grey;
  height: 100vh;
}
//@include only-for-desktop(768px) {
//  .section {
//    display: none;
//  }
//  .active {
//    display: block;
//  }
//}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.onepage-wrapper section .page_container {
  //position: relative;
  //margin: 0 auto 0;
  z-index: 3;
}
.onepage-wrapper section  {
  overflow: hidden;
}

.content {
  max-width: 1138px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
//styles scroll page end

a {
  text-decoration: none;
  color: #FFFFFF;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.header {
  display: flex;
  max-width: 1138px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 15px;
  justify-content: space-between;
  &__logo {
    z-index: 4;
    @media screen and (max-width: 768px) {
      svg {
        width: 70px;
        height: 46px;
      }
    }
  }
  &__menu {
    padding-top: 28px;
    width: 750px;
    display: flex;
    position: relative;
    z-index: 2;
  }
  &__menu-list {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: normal;
    @media (min-width: 320px) {
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &__menu-item {
    width: 96px;
    margin-left: 17px;
    margin-right: 17px;
    @media (min-width: 320px) {
      @media (max-width: 768px) {
        width: auto;
      }
    }
  }
  &__button {
    padding-top: 28px;
    text-transform: uppercase;
    z-index: 2;
    @media (min-width: 320px) {
      @media (max-width: 768px) {
        position: absolute;
        bottom: 3%;
        width: 90%;
        text-align: center;
        left: 5%;
      }
    }
  }
  &__button_link {
    padding: 15px 31px;
    background-color: $orange;
    display: block;
  }
}

////style for Iphone5/6/7/8 started
//.slide-top_ip5 {
//  top: 265px;
//}
////style for Iphone5/6/7/8 end

.slider {
  width: 720px;
  margin: 0 auto;
  font-family: $MuseoSansCyrl900;
  position: absolute;
  right: 0;
  top: 209px;
  z-index: 1;
  @media screen and (max-width: 480px) {
    width: auto;
    left: 0;
    top: 189px;
      //@media screen and (height: 568px) and (height: 667px) {
      //  top: 265px;
      //}
    }
  @media screen and (min-width: 768px) and (max-width: 1024px){
    top: 528px;
  }

  &__title {
    font-size: 122px;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (width: 768px) {
      position: absolute;
      top: 65px;
      font-size: 72px;
    }
    @media screen and (max-width: 480px){
      position: absolute;
      top: 34px;
      font-size: 48px;
      left: 12px;
    }
  }
  &__title_color {
    font-size: 122px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    position: absolute;
    top: 120px;
    @media screen and (max-width: 480px){
      top: 75px;
      width: 100vw;
      font-size: 48px;
      left: 12px;
    }
    @media (width: 768px) {
      font-size: 72px;
      top: 124px;
    }
  }
  &__text {
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: white;
    max-width: 508px;
    position: absolute;
    bottom: -230px;
    left: 8px;
    font-family: $MuseoSansCyrl;
    @media screen and (max-width: 480px){
      width: 95vw;
      font-size: 12px;
      bottom: -227px;
      line-height: 17px;
      left: 12px;
    }
    @media (width: 768px) {
      bottom: -300px;
    }
  }
}

//hamburger menu styles started
.header {
  @include only-for-mobile-menu (768px) {
    %line{
      background: white;
      width:24px;
      height:1px;
    }

    .button{
      display:block;
      position: absolute;
      top: -54px;
      right: 44px;
    }

    .menu{
      @extend %line;
      position: absolute;
      top: 24px;
      &:before{
        @extend %line;
        content: '';
        position: absolute;
        top: -8px;
      }
      &:after{
        @extend %line;
        content: '';
        position: absolute;
        top: 8px;
        left:0;
      }
      b{
        top:-13px;
        left:2px;
        font-size:.55em;
        line-height:1em;
        position:relative;
      }
    }

    ///Lets make a sub-menu
    .sub-menu{
      font-weight:300;
      font-size:1.5em;
      list-style-type:none;
      padding:10px 20px;
      background: #080F1B;;
      margin:0;
      position:fixed;
      top: 0;
      width: 100%;
      height: 100vh;
      display: none;
      li{
        line-height:60px;
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
      }
      li:last-child{
        border-bottom:none;
      }
    }

    .menu-active{
      .sub-menu{
        display: flex;
      }
    }
  }

}

//hamburger menu styles end

